<!DOCTYPE html>
<html lang="ja"> 
<head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
    <title>コネクトフォー</title>
    {% block head %}
    <!-- headに追加で付け足したい内容があったら継承先で記述-->
    {% endblock %}
</head>
<body>
    {% block body %}
    <!-- bodyに追加で付け足したい内容があったら継承先で記述-->
    {% endblock %}
</body>
</html>